<!doctype html>
<html data-framework="vue">
	<head>
		<meta charset="utf-8">
		<title>FrappeJS • TodoMVC</title>
		<style> [v-cloak] { display: none; } </style>
	</head>
	<body>
		<section class="todoapp" v-cloak>
			<header class="header">
				<h1>todos</h1>
				<input class="new-todo" autofocus autocomplete="off" placeholder="What needs to be done?" v-model="newTodo" @keyup.enter="addTodo">
			</header>
			<section class="main" v-show="todos.length">
				<input id="toggle-all" class="toggle-all" type="checkbox" v-on:change="toggleAllStatus()">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<li class="todo" v-for="todo in todos" :key="todo.name" :class="{completed: todo.completed, editing: todo == editedTodo}">
						<div class="view">
							<input class="toggle" type="checkbox" v-model="todo.completed" v-on:change="toggleStatus(todo.name)" :checked="isChecked">
							<label @dblclick="editTodo(todo)">{{todo.title}}</label>
							<button class="destroy" @click="deleteTodo(todo.name)"></button>
						</div>
						<input class="edit" type="text" v-model="todo.title" v-todo-focus="todo == editedTodo" @blur="updateTodo(todo.name, todo.title)" @keyup.enter="updateTodo(todo.name, todo.title)" @keyup.esc="cancelEdit(todo)">
					</li>
				</ul>
			</section>
			<footer class="footer">
				<span class="todo-count">
					<strong v-text="remaining"></strong> {{pluralize('item', remaining)}} left
				</span>
				<ul class="filters">
					<li><a href="#/all" :class="{selected: visibility == 'all'}" v-on:click="getAllTodo">All</a></li>
					<li><a href="#/active" :class="{selected: visibility == 'active'}" v-on:click="selectActive">Active</a></li>
					<li><a href="#/completed" :class="{selected: visibility == 'completed'}" v-on:click="selectCompleted">Completed</a></li>
				</ul>
				<button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
					Clear completed
				</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
		</footer>
		<script src="https://rawgit.com/flatiron/director/master/build/director.min.js"></script>	
	</body>
</html>
